[submodule "at91bootstrap"]
	path = at91bootstrap
	url = https://github.com/gazoo74/at91bootstrap.git
[submodule "initramfs"]
	path = initramfs
	url = https://github.com/gazoo74/initramfs.git
[submodule "crosstool-ng"]
	path = crosstool-ng
	url = https://github.com/crosstool-ng/crosstool-ng
